.blue-box .circle-btn {
    background: #0099da;
}
.circle-btn, .circle-btn:hover {
    margin: 40px auto 0;
    display: inline-block;
    background: #023575;
    color: #fff;
    padding: 12px 25px 12px 48px;
    font-size: 15px;
    transition: all .2s;
}
.contact-number, .contact-number:hover, .circle-btn, .circle-btn.wht, .circle-btn:hover {
    background: #fff;
    padding: 10px 20px 10px 20px;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 700;
    color: #023575;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    font-family: poppins,sans-serif;
}
.title-wht {
    font-weight: 700;
    font-family: poppins,sans-serif;
    font-size: 20px;
    margin: 0 auto 10px;
    text-transform: uppercase;
}
.blue-box {
        font-size: 16px;
        font-weight: 500;
        font-family: lato,sans-serif;
        line-height: 1.3;    
        background: #023575;
        padding: 30px;
        color: #fff;
}
.right-sec {
    padding-left: 55px;
    padding-right: 5px;
    border-left: 1px solid #e5e5e5;
    padding-top: 50px;
    padding-bottom: 80px;
}
.left-sec {
    padding-right: 65px;
    padding-left: 10px;
    border-right: 1px solid #e5e5e5;
    margin-right: -1px;
    padding-top: 50px;
    padding-bottom: 80px;
}
.industries-details .container-fluid {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 5%;
}
.industries-details strong {
    display: inline-block;
    width: 100%;
    margin: 10px auto 2px;
}
.para {
    font-size: 16px;
    color: #758495;
    line-height: 1.5;
}
.industries-details h3 {
    color: #023575;
    font-weight: 700;
    font-family: poppins,sans-serif;
    text-transform: uppercase;   
    margin: 50px auto 10px;
    font-size:18px;
}
.title {
    font-size: 18px;
    color: #023575;
    font-weight: 700;
    margin: 0 auto 10px;
    font-family: poppins,sans-serif;
    text-transform: uppercase;
}
.inner-container row {
    display: flex;
    flex-wrap: wrap;
}
.inner-container {
    background: #fff;
    margin: 0 auto 100px;
    border: 1px solid #e5e5e5;
    padding: 0 50px;
}
.industries-details {
    padding: 90px 15px 0;
}
body .real-estate-image {
    position: relative;
}

.industry-cards a:hover{
    text-decoration: none;
}
.industry-cards .col-lg-3{
    padding: 0 0;
}

.real-estate-image .image-contain{
    position: absolute;
    top: 20%;
    left: 10%;
}
.real-estate-image .red-border{
    position: absolute;
    top: 40%;
    left: 10.3%;
    border-top: 3px solid #ef323a;
    display: inline-block;
    width: 150px;
}
.real-estate-image .image-tagline{
    position: absolute;
    top: 45%;
    left: 10.3%;
    font-size: 30px;
    color: #fff;
    max-width: 800px;
    font-weight: 700;
}

.real-estate-image .image-contain > h1{
    color: #fff;
    font-size: 75px;
    letter-spacing: -4px;
    font-weight: 800;
    line-height: 1;
}

.industry-cards{
    /* display: grid;
    grid-template-columns: 25% 25% 25% 25%; */
    margin: 10px 50px;
}

.industry-cards .card{
    height: 320px;
    margin: 8px 10px;
    position: relative;
}

.industry-cards .card:hover{
    background: #023575;
    cursor: pointer;
}
.industry-cards .card .card-image{
    margin-left: 20px;
    /* position: absolute; */
}
.industry-cards .card:hover .card-body .card-text{
    position: absolute;
    color: #fff;
}
.industry-cards .card:hover .card-body .card-title{
    /* position: absolute; */
    color: var(--blue)
}
.industry-cards .card:hover .card-image{
filter: brightness(0) invert(1);
}
.industry-cards .card .card-body .card-text{
    font-size: 16px;
    color: #758495;
    font-weight: 400;
    line-height: 1.4;
    transition: all .3s;
}
.industry-cards .card .card-body .card-title{
    color: #023575;
    font-weight: 700;
}

@import "common.css";

hr {
    margin: 0;
}
.dropdown-toggle::after {
    display: none;
}
.dropdown-menu {
    left: auto;
    top: auto;
    /* text-align: center; */
}

.dropdown:hover>.dropdown-menu {
    display: block;
  }
.card-section {
    display: flex;
    justify-content: space-around;
}
.card-section .card {
    width: 270px;
    height: 350px;
    justify-content: center;
    grid-gap: 10px;
    background: #fff;
    border: 1px solid #dddddd;
    border-radius: 12px;
    padding: 24px;
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
}
.card-section .card h4 {
    font-weight: bold;
}
.modal-row{
    margin: 10px;
}
.col-6 .card{
    width: 80%;
    height: 80%;
}
#about-section{
    position: absolute;
    background: whitesmoke;
    width: 400px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.2);
    width: 30%;
    left: 30%;
}
.card-heading-tag{
    font-weight: bold;
}
.para-tag{
    color: black!important;
    font-size: 16px!important;
    text-align:left!important;
}
.btn__primary {
    border-radius: 8px;
    width: auto;
    background: #39b386;
    border: 1px solid #39b386;
    height: 50px;
    text-align: center;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0 30px;
}
.btn__primary a {
    font-family: arial;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    line-height: 50px;
    transition: all 0.5s ease;
    z-index: 2;
    position: relative;
}
.btn__primary .eff {
    width: 100%;
    height: 50px;
    left: -100%;
    background: #1c0732;
    position: absolute;
    transition: all 0.5s ease;
    z-index: 1;
}
.btn__primary:hover .eff {
    left: 0;
}
.btn__primary:hover a {
    color: #fff;
}
/* Secondary Button */
.btn__secondary {
    border-radius: 8px;
    width: auto;
    background: var(--secondary);
    border: 1px solid var(--secondary);
    height: 50px;
    text-align: center;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}
.btn__secondary a {
    font-family: arial;
    font-size: 16px;
    color: var(--dark);
    text-decoration: none;
    line-height: 50px;
    transition: all 0.5s ease;
    z-index: 2;
    position: relative;
    padding: 0 30px;
}
.eff {
    width: 100%;
    height: 50px;
    left: -100%;
    background: var(--blue);
    position: absolute;
    transition: all 0.5s ease;
    z-index: 1;
}
.btn__secondary:hover .eff {
    left: 0;
}
.btn__secondary:hover a {
    color: var(--white);
}
/* Navbar Header */
.navbar {
    background-color: #489FEE;
    color: #fff;
    padding: 5px 70px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    border-bottom: none;
}
/* ul > li > a.active { */
    /* color: var(--primary) !important; */
    /* font-weight: bold !important; */
    /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) !important; */
/* } */
ul > li > a {
    font-family: var(--font-family-inter) !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 20px !important;
    line-height: 24px !important;
    letter-spacing: 0.5px !important;
    color: var(--white) !important;
    --webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
ul > li > a:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) !important;
    /* color: var(--primary) !important; */
    font-weight: bold!important;
}
.navbar-brand > img {
    width: 100px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.nav__toggle__btn {
    display: none;
}
.nav__signin__btn {
    width: 139px;
    height: 41px;
}
.btns_groups {
    display: flex;
}
.btns_groups div {
    margin-right: 10px;
}
.nav__btns {
    display: flex;
    align-items: center;
    text-align: center;
}
.nav__btns .login-link {
    font-family: var(--font-family-inter);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: var(--white);
    --webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin-right: 20px;
}
.nav__btns .login-link:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    color: var(--primary);
    text-decoration: none;
}
.navbar-toggler:focus {
    outline: none;
}
/* Site Header */
.site_header_container {
    /* background-color: var(--blue); */
}
.site_header {
    margin: 0 auto;
    padding: 40px 70px;
    /* width: 100%; */
    /* height: 100vh; */
    /* overflow: hidden; */
    /* background-image: url(../images/site_icon.png); */
    /* background-position: right; */
    /* background-repeat: no-repeat; */
    /* background-size: contain; */
    /* display: grid; */
    /* justify-content: left; */
    /* align-items: center; */
    /* text-align: left; */
    /* padding: 28px 0; */
}
.background-image {
    text-align: center;
}
.background-image img {
    /* background-image: url(../images/Group\ 70.png); 
    background-position: center; 
    background-repeat: no-repeat;
    background-size: contain; */
    width: 400px;
}
.site_header .site_header_content {
    width: 49%;
    margin: auto 0;
    /* padding-left: 80px; */
}
.site_header .site_header_content h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 44px;
    color: black;
}
.site_header .site_header_content p {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 37px;
    color: black;
}
.site_header .site_header_content .action {
    width: 50%;
}
/* section-2 */
.jumbotron {
    background-color: transparent;
}
.jumbotron h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #000;
}
.jumbotron p {
    font-style: normal;
    font-weight: normal;
    font-size: 17.6px;
    line-height: 31px;
    text-align: center;
    color: var(--gray3);
}
.jumbotron .segment_data {
    display: grid;
    justify-content: center;
    text-align: center;
    align-items: c;
}
.jumbotron .segment_data ul {
    list-style: none;
}
.jumbotron .segment_data ul li {
    margin: 43px 0;
    text-align: left;
}
.jumbotron .segment_data ul li a {
    text-decoration: none;
}
.jumbotron .segment_data ul li:hover {
    opacity: 0.8;
}
.jumbotron .segment_data ul li a span {
    font-style: normal;
    font-weight: normal;
    font-size: 17.6px;
    line-height: 23px;
    color: #286EFA;
}
.jumbotron .segment_data ul li:first-child a span:first-child {
    color: #53439A;
}
.jumbotron .segment_data ul li:last-child a span:first-child {
    color: #39B386;
}
.jumbotron .segment_data ul li a span:last-child {
    font-style: normal;
    font-weight: normal;
    font-size: 14.8px;
    line-height: 19px;
    color: #343A40;
}
.clip__path {
    background: rgba(38, 46, 79, 0.04);
    width: 100%;
    height: 80%;
    clip-path: polygon(50% 24%, 58% 18%, 100% 39%, 100% 100%, 0 100%, 0 0);
    position: absolute;
}
.background_gradient {
    background: #0D1537;
}
.background_gradient h1 {
    color: var(--white);
}
.background_gradient p {
    color: var(--gray3);
}
/* carousel_card */
.owl-carousel .item {
    padding: 40px 100px 60px 100px;
}
.carousel_card {
    border-radius: 1rem;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
    background: radial-gradient(108% 245% at 60% 25%, #fff 0%, #e9ebf5 100%);
}
.carousel_card .card_left {
    border-top-right-radius: 0;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 5rem;
    border-bottom-left-radius: 1rem;
    padding: 2.4rem;
}
.owl-carousel .item .carousel_card .card_left img {
    max-width: 136px;
    margin-bottom: 40px;
}
.owl-carousel .item .carousel_card .card_left h3 {
    font-size: 20.8px;
    font-weight: 500;
}
.owl-carousel .item .carousel_card .card_left h6 {
    font-size: 15px;
    font-weight: 500;
}
.owl-carousel .item .carousel_card .card_left span {
    font-size: 12px;
}
.carousel_card .card_right {
    padding: 2.5rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.owl-carousel .item .carousel_card .card_right h2 {
    font-size: 4.7rem;
    font-weight: bold;
}
.owl-carousel .item .carousel_card .card_right h6 {
    font-size: 1.25rem;
}
.owl-carousel .item .carousel_card .card_right a {
    font-size: .925rem;
    font-weight: 500;
    color: #343a40;
}
.carousel_card .card_left.pink {
    background-color: var(--pink) !important;
    color: var(--white);
}
.carousel_card .card_right.pink {
    background-color: transparent;
    color: var(--pink) !important;
}
.carousel_card .card_left.blue {
    background-color: var(--blue) !important;
    color: var(--white);
}
.carousel_card .card_right.blue {
    background-color: transparent;
    color: var(--blue) !important;
}
/* Footer */
footer {
    width: 100%;
    height: auto;
    padding: 87px;
    background: #1C0732;
}
footer div:first-child {
    margin-bottom: 2.1rem;
}
footer .row .col-12 h5 {
    font-style: normal;
    font-weight: bold;
    font-size: 14.8px;
    line-height: 31px;
    color: #fff;
}
footer .row .col-12 ul > li {
    margin-top: 1rem;
}
footer .row .col-12 ul > li > a {
    color: #B1B5D3;
    font-size: 14px;
    padding: 0 0 2px;
}
footer .row .col-12 ul > li > a:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    color: var(--primary);
    text-decoration: none;
}
@media (max-width:992px) {
    /* Navbar */
    .navbar {
        padding: 7px 20px;
    }
    .navbar-brand > img {
        width: 150px;
    }
    .nav {
        display: -ms-flexbox !important;
        display: grid !important;
        -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
        padding-left: 0 !important;
        margin-bottom: 0;
        list-style: none;
        text-align: initial !important;
        margin-top: 30px !important;
    }
    .nav__signin__btn {
        display: none;
    }
    .nav__toggle__btn {
        display: block;
    }
    .nav__btns .login-link {
        display: none;
    }
    .nav__btns .demo-btn {
        display: none;
    }
    /* Site Header */
    .site_header {
        width: 100%;
        height: 80vh;
        overflow: hidden;
        background-image: none;
        background-position: right;
        background-repeat: no-repeat;
        background-size: contain;
        display: grid;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .site_header .site_header_content {
        width: 100%;
        padding: 0 20px;
        line-break: anywhere;
    }
    .site_header .site_header_content p {
        line-height: 30px;
    }
    .site_header .site_header_content .action {
        width: 100%;
    }
    /* section-2 */
    .jumbotron .segment_data ul li:hover {
        opacity: 0.8;
    }
    .jumbotron .segment_data ul li {
        padding: 1.25rem;
        border-style: solid;
        border-width: 1px;
        border-radius: 0.25rem;
        margin: 12px 0;
    }
    .jumbotron .segment_data ul li:first-child {
        border-color: #53439A !important;
    }
    .jumbotron .segment_data ul li {
        border-color: #286EFA !important;
    }
    .jumbotron .segment_data ul li:last-child {
        border-color: #39B386 !important;
    }
    .clip__path {
        background: none;
        width: 100%;
        height: 80%;
        clip-path: none;
        position: absolute;
    }
    /* carousel_card */
    .owl-carousel .item {
        padding: 20px;
    }
    .carousel_card {
        box-shadow: none;
    }
    /* Footer */
    footer {
        padding: 20px;
    }
}